# virtual environments
.env/
.venv/
env/
venv/

# python junk
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# analysis outputs
*.root
*.parquet
*.pkl
*.coffea
dask-report*.html

# condor/logs
logs/
*.log
*.out
*.err
